{% load static %}
<footer class="position-relative " style="width: 100%;background-color:#635C36">
    <section class="container-fluid d-flex flex-row justify-content-evenly pt-5">
        <div class="row">
            <div class="col-md-2">
                <img src="{% static '/img/Palerossi.jpg' %}" alt="paper" style="width: 100px; height: 80px;">
                <h5>Nuestros trabajos</h5>
                <a href=""><i class="fa-brands fa-github" style="font-size: 1.5rem;"></i></a>
                <p>Paper-Company</p>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-md-4">
                <h5>Empresa</h5>
                <a href="">Conoce nuestra Politicas</a>
                <p>Empresa panificadora</p>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-md-4">
                <h5>Ubicacion</h5>
                <a href="">Maps</a>
                <p>Tovar, Edo Merida, Venezuela</p>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-md-4">
                <h5>Redes</h5>
                <a href=""><i class="fa-brands fa-instagram" style="font-size: 1.5rem;"></i></a>
                <a href=""><i class="fa-brands fa-facebook" style="font-size: 1.5rem;"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp" style="font-size: 1.5rem;"></i></a>
            </div>
        </div>
       
    </section>
    <div class="text-center">
      <p >Copyright 2023 Company Paper</p>
    </div>
    
</footer>